/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* SITE STYLE */

html {
    font-size: 14px;
}

body {
    width: 100%;
    font-size: 71.4%;
}

main, footer {
    font-family: 'Droid Sans', sans-serif; 
    max-width: 1020px;
    width: 90%;
    text-align: center;
}

main {
    margin: 1.171875% auto;
    border: 1px solid #ccc;
	background:radial-gradient(circle at center, #fff, #FFEDE5);
}

footer {
    margin: 0 auto;
    padding: 1.171875%; /* 12 / 1024 */
    font-size: 10px;
    line-height: 14px;
}

/* HEADER STYLES */

header, h1, h2, h3 {
    font-family: 'Kreon', serif;
    line-height: 1.06666666667em;    
}

header {
    
    font-weight: 700;
    font-size: 4.5em;
    padding: 1.171875%; /* 12 / 1024 */
    margin: 1.171875%; /* 12 / 1024 */
    box-sizing: border-box;
    cursor: pointer;
    
}

header a, header a:hover, header a:visited { 
    text-decoration: none; 
    color:inherit 
}

h1 { font-size: 3.3em; }
h2 { font-size: 2.5em; }
h3 { 
    font-size: 1.8em;
    line-height: 2.0em;
}

.subhed { margin: 12px 0 24px 0; }

/* END HEADER STYLES */

p { 
    font-family: inherit;
    font-size: 1.4em;
    line-height: 1.28571428571em;
    margin: 12px 6px;
    padding: 12px;
}

a {
    text-decoration: none;
    color:darkblue;
}

a:hover {
    color: cornflowerblue;
}

a:visited {
    color:darkblue;
}

img {
    background-color: white;
    padding: 12px;
    border: 1px solid #CCCCCC;
    box-shadow: 5px 5px 10px #888888;
}

/* INPUTS */

input[type=submit] {
    border: none;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.8em;
    margin: 24px 0;
    padding: 12px;
    border-radius: 6px;
    background: #ccc;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #555;
    color: white;
}

/* SECTIONS */

.homepage_section {
    text-align: center;
    margin: 0 auto;
}

nav { margin: 24px; }

nav ul li {
    font-size: 2.5em;
    line-height: 1.2em;
    display:inline;
    padding: 12px 0;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul li:after { content: "  \2022  "; }
nav ul li:last-child:after { content: ""; }

/* TEST BLOCK STYLES */

.test_block, .answer_block { 
    display: none;
    text-align: center;
    width: 34.1796875%; /* 350 / 1024 */
    margin: 0 auto;
}

#pronouns {
    text-align: center;
    width: 295px;
    margin: 0 auto;
    padding: 2%;
}

#pleft, #pright {
    width: 50%;
}

#pleft { 
    float: left;
    text-align: left;
}
#pright { 
    float: right;
    text-align: right;
}

.question_block { 
    display: block; 
    margin: 24px 0;
    text-align:right;
}

.question0, .question1, .question2 {
    display: inline-block;
    float: left;
}

input[name='answer0'], input[name='answer1'], input[name='answer2'] {
    font-size: 1.8em;
    width: 150px;
}

.correct_answers p {
    font-size: 2.5em;
    line-height: 1.2em;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* MOBILE STYLES */

@media (max-width:400px) {
    
    header { font-size: 11vw; }
    
    img { 
        width: 90%;
        box-sizing: border-box;
    }
    
    h2 { font-size: 6vw; }

    .test_block, .answer_block { 
        width: 89%;
    }
    
    input[name='answer0'], input[name='answer1'], input[name='answer2'] {
        font-size: 1.5em;
        width: 46.875%; /* 150 / 320 */
    }    

}